body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    max-height: 100%
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("fundo.jpeg");
    background-color: black;
    width: 1600px;
    height: 100%;
    max-width: 1600px;
    border-style: groove;
    border-width: 3px;
    border-color: cadetblue box-shadow: 10px 5px 5px black;


}



h1 {
    margin-top: 40px;
    margin-bottom: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: rgb(14, 14, 19);
}

.mesa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 122px;
    margin-right: 116px;

    position: relative;
}

ul {


    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    color: aqua;
    margin-top: 10px;
    background-image: url("campo.jpg");
    border-radius: 15px;
    z-index: 1000;
}

li img {
    display: flex;
    justify-content: center;
    align-items: center;


}

li {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;

}

img {
    width: 100%;
    height: 100%;
    border: 1px solid #99CEA8;
    border-radius: 5px;

}

.escondido {
    display: none;
}

.cartinha {
    margin-top: 15px;
    width: 117px;
    height: 146px;
    margin-bottom: 34px;
}

.carta_emblema {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
}

.carta_capa {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 5s;
    transform: rotateY(180deg);
}

.escolhido {
    border-style: groove;
    border-radius: 15px;
    border-width: 5px;
    border-color: rgb(0, 255, 255);
    box-sizing: border-box;
}

.confirmado {
    border-style: solid;
    border-radius: 15px;
    border-width: 10px;
    border-color: rgb(120, 226, 93);
    box-sizing: border-box;

}

.jogadas {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px;
    border-style: groove;
    border-color: dimgrey;
    border-width: 2px;
    background-color: grey;
    position: absolute;
    right: 0px;
    top: 10px;
    width: 150px;
    height: 50px;
    color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
}

.tempo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px;
    border-style: groove;
    border-color: dimgrey;
    border-width: 2px;
    background-color: chartreuse;
    position: absolute;
    right: 0px;
    top: 70px;
    width: 150px;
    height: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;

}

.virada {
    transform: rotateY(360deg);
}

div {
    transition: all .5s;
}

.bonus {
    width: 100%;
    height: 100px;
}

@media (max-width: 350px) {
    ul {
        flex-direction: column;
    }

    .tempo {
        top: 0px;
        right: 180px;
        font-size: 15px;
    }

    .jogadas {
        top: 0px;
        right: 0px
        font-size: 15px;
    }
    .bonus{
        display: flex;
        flex-wrap: wrap;
    }
}