@import url('https://fonts.googleapis.com/css2? family= Justo & family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400; 1.500;1.700;1.900 & display=trocar');
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 800px;
    max-width: 1600px;
}

.corpo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("fundo.jpeg");
    background-color: black;
    width: 100%;
    border-style: groove;
    border-width: 5px;
    border-color: cadetblue;
    box-shadow: 10px 5px 5px black;
    min-height: 800px;
}

h1 {
    display: flex;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 47px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 46px;
    letter-spacing: -0.004em;
    color: rgb(14, 14, 19);

}

.mesa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 122px;
    margin-right: 116px;
    margin-bottom: 20px;
    position: relative;
   
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 750px;
    color: aqua;
    margin-top: 10px;
    background-image: url("campo.jpg");
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
}

li img {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

img {
    width: 100%;
    height: 100%;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.escondido {
    display: none;
}

.cartinha {
    margin-top: 15px;
    width: 117px;
    height: 146px;
    margin-bottom: 34px;
}

.carta_emblema {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
}

.carta_capa {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 5s;
    transform: rotateY(180deg);
}

.escolhido {
    border-style: groove;
    border-radius: 15px;
    border-width: 5px;
    border-color: rgb(0, 255, 255);
    box-sizing: border-box;
}

.confirmado {
    border-style: solid;
    border-radius: 15px;
    border-width: 10px;
    border-color: rgb(120, 226, 93);
    box-sizing: border-box;
}

.jogadas {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px;
    border-style: groove;
    border-color: dimgrey;
    border-width: 2px;
    background-color: grey;
    position: absolute;
    right: 0px;
    top: 10px;
    width: 150px;
    height: 50px;
    color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
}

.tempo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px;
    border-style: groove;
    border-color: dimgrey;
    border-width: 2px;
    background-color: chartreuse;
    position: absolute;
    right: 0px;
    top: 70px;
    width: 150px;
    height: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.virada {
    transform: rotateY(360deg);
}

div {
    transition: all .5s;
}

.bonus {
    width: 100%;
    height: 100px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 40px;
    }

    .tempo {
        position: initial;
    }

    .jogadas {
        position: initial;
    }

    .bonus {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 400px) {
    ul {
        flex-direction: column;
    }

    .tempo {
        top: 0px;
        right: 180px;
        font-size: 15px;
    }

    .jogadas {
        top: 0px;
        right: 0px;
        font-size: 15px;
    }

    .bonus {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 36px;
    }
}

@media (max-width: 300px) {
    h1 {
        font-size: 33px;
    }

    .jogadas {
        font-size: 12px;

    }

    .tempo {
        font-size: 12px;
    }
}